.box-footer button, .box-footer a.btn {
    margin-right: 20px;
    min-width: 150px;
}

.pagination {
    margin: 0 !important;
}

.table-responsive {
    display: initial;
}

.max-w-100 {
    max-width: 70px;
}

.pull-right button, .pull-right a.btn {
    margin-right: 0;
}
